:root {
  --p-size: 25px;

  --normal-font: 'B Nazanin', sans-serif;
}



@font-face {
  font-family: 'B Nazanin';
  src: local('B Nazanin'), url('./fonts/B-NAZANIN.TTF') format('truetype');
}


html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links {
  text-decoration: none;
}

/***************************************************** Login section **************************************************/
.login-picture {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1;
  overflow: hidden;
  opacity: 0.9;
}

.form {
  font-family: 'B Nazanin', sans-serif;
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 30%;
  z-index: 0;
  left: 35%;
  top: 20%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.8);
}

.switch-form {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.switch-form a {
  padding-top: 5px;
  display: inline-block;
  width:50%;
  text-align: center;
  color: white;
}

.switch-form a #register {
  border-radius: 0 20px 0 0;
}

.switch-form a #login {
  border-radius: 20px 0 0 0;
}

.switch-form a #register {
  border-radius: 0 20px 0 0;
}

.selected-login {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px 0 0 0;
}

.selected-register {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 20px 0 0;
}

label {
  color: white;
  float: right;
  direction: rtl;
  margin: 30px 20px 10px 0;
}

.submit-button {
  font-family: var(--normal-font);
  font-weight: bolder;
  font-size: 23px;
  border-radius: 10px;
  margin: 50px auto 0 auto;
  font-family: var(--normal-font);
  width: 90%;
  height: 40px;
}

.form .input {
  width: 100%;
}

.form input {
  background-color: white;
  border-radius: 10px;
  float: right;
  margin: 0 20px;
  width: 90%;
  direction: rtl;
  height: 30px;
}