:root {
  --p-size: 25px;
  --normal-font: 'B Nazanin', sans-serif;
  --styled-font: IranNastaliq,'IranNastaliq',tahoma;
}

@font-face {
  font-family: 'B Nazanin';
  src: local('B Nazanin'), url('./fonts/B-NAZANIN.TTF') format('truetype');
}

@font-face {
  font-family: 'IranNastaliq';
  src: local('IranNastaliq'), url('./fonts/IranNastaliq.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

* a {
  text-decoration: none;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links {
  text-decoration: none;
}



/***************************************************** Login section **************************************************/
.login-picture {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1;
  overflow: hidden;
  opacity: 0.9;
}

.form {
  font-family: 'B Nazanin', sans-serif;
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 30%;
  z-index: 0;
  left: 35%;
  top: 15%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.8);
}

.switch-form {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.switch-form a {
  padding-top: 5px;
  display: inline-block;
  width:50%;
  text-align: center;
  color: white;
}

.switch-form a #register {
  border-radius: 0 20px 0 0;
}

.switch-form a #login {
  border-radius: 20px 0 0 0;
}

.selected-login {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px 0 0 0;
}

.selected-register {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 20px 0 0;
}

.form form {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

label {
  color: white;
  float: right;
  direction: rtl;
  margin: 30px 20px 10px 0;
  width: 100%;
}

.field-container {
  direction: rtl;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.field-container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-container label {
  margin-right: 20px;
  display: flex;
}

.field-container input {
  border-radius: 10px;
  width: 90%;
  display: flex;
  height: 30px;
}

.field-container input[type="submit"] {
  width: 90%;
  font-family: var(--normal-font);
  font-size: 23px;
  font-weight: bolder;
  height: 40px;
  margin-top: 70px;
  border: none;
  background-color: yellow;
}

.field-container input[type="submit"]:hover {
  background-color: orangered;
}

.field-container p {
  color: white;
  display: flex;
  margin-right: 20px;
  float: right;
  margin-top: 10px;
  font-size: 18px;
  float: right;
}

.field-container a {
  color: yellow;
}

.forget-password {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: white;
  direction: rtl;
  margin-right: 100px;
}

@media screen and (max-width: 1120px) {
  
  .forget-password p {
    font-size: 17px;
  }

  .field-container label {
    font-size: 18px;
  }
}

@media screen and (max-width: 1045px) {
  .forget-password p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .forget-password p {
    font-size: 15px;
  }
}

@media screen and (max-width: 569px) {
  .forget-password p {
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .forget-password p {
    font-size: 14px;
  }
}

@media screen and (max-width: 314px) {
  .forget-password p {
    font-size: 13px;
    margin-right: 10px;
  }
}



/************************************************ Registration section **************************************************/
.register {
  font-size: 18px;
  margin-bottom: 5px;
}

.register:first-child {
  margin-top: 10px;
}

.field-div {
  height: 30px;
}

#submit-register {
  background-color: yellow;
  border: none;
  margin-top: 5px;
  height: 40px;
}

#submit-register:hover {
  background-color: orangered;
}

@media screen and (max-width: 990px) {

  #submit-register {
    font-size: 18px;
  }

  .form {
    width: 40%;
    left: 30%;
  }
}

@media screen and (max-width: 750px) {

  .form {
    width: 50%;
    left: 24%;
  }
}

@media screen and (max-width: 570px) {
  .form {
    width: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 460px) {

  .form {
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 400px) {
  
  .form {
    width: 80%;
    left: 10%;
  }
}




/****************************************Forget-password section *********************************************/
.field-container #forget-password-label {
  display: flex;
  justify-content: center;
  margin: 40px 0;
} 

#forget-password {
  height: 300px;
}



/**********************************************Poem section ***************************************************/
.poem-background {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70vw;
  height: 150vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
  opacity: 0.9;
  background-color: black;
  background-size: cover;
}

.poem-header {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.poem-header h1 {
  font-family: var(--styled-font);
  font-size: 53px;
  font-weight: normal;
}

.poem-container {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: #c78065;
  border-radius: 20px;
  font-size: 23px;
  font-weight: normal;
  width: 40%;
  left: 30%;
  top: 30%;
}

.poem-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.poem {
  display: inline;
  font-family: var(--styled-font);
  font-size: 30px;
  margin: 0;
  direction: rtl;
  float: right;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

.text-container {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 0;
  margin-top: 45px;
}

.button-container button {
  font-family: var(--normal-font);
  background-color: orange;
  border: 1px solid #282c34;
  font-size: 17px;
  border-radius: 30px;
  margin: 15px;
  width: 100px;
  height: 30px;
}

.button-container a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.button-container a:hover {
  background-color: #282c34;
  font-weight: bold;
  color: white;
}

.back {
  background-color: black;
}


@media screen and (max-width: 1442px){

  .poem {
    font-size: 33px;
    padding: 0 50px;
  }

  .poem-header h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1388px) {

  .poem {
    padding: 0 38px;
    font-size: 32px;
  }
}

@media screen and (max-width: 1242px) {

  .poem {
    font-size: 32px;
    padding: 0 25px;
  }

  .poem-header h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1111px) {

  .poem-background {
    width: 100vw;
  }

  .poem-container {
    width: 50%;
    left: 25%;
    top: 30%;
  }
}

@media screen and (max-width: 890px) {
  .poem-container {
    width: 61%;
    left: 20%;
  }
  
  .poem {
    padding: 0 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 792px) {
  .poem-header h1 {
    font-size: 45px;
  }

  .poem {
    padding: 0 25px;
  }
}

@media screen and (max-width: 694px) {
  .poem-container {
    width: 60%;
    height: 380px;
  }

  .poem-header h1 {
    font-size: 40px;
  }

  .poem {
    font-size: 25px;
    padding: 0 20px;
  }
  
  .button-container button {
    font-size: 15px;
  }
}

@media screen and (max-width: 582px) {

  .poem-background {
    height: 100vh;
  }

  .poem-container {
    height: 350px;
    left: 20%;
    top: 20%;
  }

  .poem {
    padding: 0 15px;
    font-size: 23px;
  }
}

@media screen and (max-width: 514px) {

  .poem-container {
    height: 330px;
  }

  .poem-header h1 {
    font-size: 35px;
  }

  .poem {
    padding: 0 12px;
    font-size: 21px;
  }
}

@media screen and (max-width: 457px) {

  .poem-background {
    height: 100vh;
  }

  .poem-header h1 {
    font-size: 35px;
  }

  .poem-container {
    width: 65%;
    height: 280px;
    left: 18%;
    top: 25%;
  }

  .poem {
    padding: 0 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 394px) {
  

  .poem-header h1 {
    font-size: 30px;
  }

  .poem-container {
    height: 280px;
    width: 70%;
    left: 15%;
  }

  .poem {
    padding: 0 8px;
    font-size: 17px;
  }

  .button-container button {
    width: 80px;
    height: 26px;
    font-size: 12px;
    margin-top: 0px;
  }
}

/**********************************************Homepage section ***************************************************/

.homepage-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.homepage-background img {
  width: 100%;
  height: 100vh;
}


.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-container {
  display: grid;
  width: 50%;
  height: 70%;
  border-radius: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

#home-container .section {
  font-family: var(--normal-font);
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(227, 232, 238, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#home-container .section:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#home-container .section a:hover {
  color: white;
  font-size: 30px;
}

#home-container .section a {
  transition: all 0.5s ease-in-out;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.top-left {
  border-top-left-radius: 20px;
}

.top-right {
  border-top-right-radius: 20px;
}

.bottom-left {
  border-bottom-left-radius: 20px;
}

.bottom-right {
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 1045px) {
  
  #home-container {
    width: 60%;
  }
}


@media screen and (max-width: 860px) {

  #home-container {
    height: 55%;
  }

  #home-container .section {
    font-size: 23px;
  }
  
  #home-container .section a:hover {
    font-size: 25px;
  }
}

@media screen and (max-width: 680px) {

  #home-container {
    width: 65%;
    height: 50%;
  }

  #home-container .section {
    font-size: 21px;
  }
  
  #home-container .section a:hover {
    font-size: 23px;
  }
}

@media screen and (max-width: 580px) {
  #home-container {
    height: 45%;
  }
}

@media screen and (max-width: 500px) {
  
  #home-container {
    width: 70%;
  }

  #home-container .section a {
    font-size: 21px;
  }

  #home-container .section a:hover {
    font-size: 22px;
  }
}

@media screen and (max-width: 440px) {

  #home-container {
    width: 80%;
    height: 40%;
  }

  #home-container .section a {
    font-size: 19px;
  }
  
  #home-container .section a:hover {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  
  #home-container {
    height: 35%;
  }
}

/************************************** List of poems section ***********************************************/

.list-of-poems-background {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100vw;
  height: 200vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
  opacity: 0.9;
  background-color: black;
  background-size: cover;
}

.poem-link {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--normal-font);
  margin: 5px;
}


.links-container {
  position: absolute;
  z-index: 0;
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(5, 1fr);
  grid-column: auto;
  background-color: rgba(255, 255, 255, 0.6);
  width: 75%;
  border-radius: 20px;
  left: 12.5%;
  top: 3%;
}


.links-container a:hover {
  font-weight: bolder;
}

/************************************** NotFound404 section ***********************************************/

.not-found-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container h1 {
  font-family: var(--styled-font);
  font-weight: normal;
  padding: 20px;
  font-size: 40px;
}

.not-found-container button {
  margin-top: 30px;
  font-family: var(--normal-font);
  font-size: 20px;
  background-color: orangered;
  border-radius: 20px;
}

.not-found-container a {
  display: block;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.not-found-container a:hover {
  color: black;
  background-color: red;
}